/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.top{
	margin-left: 20px;
}

.top_text{
	margin-left: 40px;
	line-height: 3.0;
	font-weight: lighter;
}

.top_link{
	margin-left: 40px;
}

.index{
	margin: 20px 0 0 30px;
}

.headline{
	font-weight: bold;
}

.table{
	margin-bottom: 40px;
	font-weight: lighter;
}

.form{
	line-height: 0.2;
}


.new{
	font-weight: bold;
}

.form_data{
	font-weight: lighter;
}

.show{
	margin: 30px 0 0 50px;
}

.edit_headline{
	margin: 30px 0 0 30px;
	font-weight: bold;
}

.edit{
	margin: 30px 0 0 30px;
	line-height: 0.2;
}

.flash{
	color: green;
}